
.ol-print{
    right: .5em;
    top: 15em;
}

.ol-backnext {
    right: .5em;
    top: 10.3em;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

.ol-clear {
    right: .5em;
    top: 7.3em;
}

.ol-zoom {
    top: 4em;
    left: auto;
    right: .5em;
}

.ol-rotate {
    top: .5em;
    right: .5em;
    transition: opacity .25s linear, visibility 0s linear;
}

.ol-rotate.ol-hidden {
    opacity: 100;
    visibility: visible;
    transition: opacity .25s linear, visibility 0s linear .25s;
}

.ol-zoom-extent {
    top: 4.643em;
    left: .5em;
}

.ol-full-screen {
    right: .5em;
    top: 2.3em;
}