<mat-sidenav-container>
    <!-- mode: over,push,side -->


    <mat-sidenav #sidenav [(opened)]="opened" mode="side" (opened)="log('Opened')" (closed)="log('Closed')">
        <!--         <h2 style="margin-top: 14px;margin-left: 56px;font-family: Verdana, Geneva, Tahoma, sans-serif ;">Panel de control</h2> -->
        <mat-icon style="font-size: 36px;margin-top: 14px;margin-left: 130px;">settings</mat-icon>


        <mat-tab-group style="background-color: #494949;">
            <mat-tab label="Tools Map">
                <!-- ---------------------------------------- CAPA BASE------------------------------------------------>
                <mat-expansion-panel style="margin-top: 18px; ">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Layers base </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-radio-group style="display: block;padding-left: 88px;">
                        <mat-radio-button style="display: block;" checked class="OSM" value="OSM">OSM</mat-radio-button>
                        <mat-radio-button style="display: block;" id="Terrain" value="Terrain">Terrain
                        </mat-radio-button>
                        <mat-radio-button style="display: block;" id="Stamen" value="Stamen">Stamen</mat-radio-button>
                    </mat-radio-group>
                </mat-expansion-panel>
                <!-- ---------------------------------------- FIN CAPA BASE------------------------------------------------>

                <!-- ---------------------------------------- LAYERS------------------------------------------------>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Layers </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <div *ngFor="let obj of mymap.layernames; let i = index;">
                            <mat-list-item>
                            <mat-checkbox #chbx (change)="mymap.getLayers().getArray()[i].setVisible(chbx.checked)" [checked]="obj.visible"  id="{{obj.name}}" >{{obj.name}}</mat-checkbox>
                            </mat-list-item>
                        </div>
                    </mat-list>
                </mat-expansion-panel>
                <!-- ---------------------------------------- FIN LAYERS------------------------------------------------>

                <!-- ---------------------------------------- VECTOR------------------------------------------------>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Property Actions </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-label for="fname">Buscar por CVA_ORIG </mat-label>
                                <input #cve_orig matInput placeholder="CTA_ORIG" style="width: 208px;" id="fname">
                            </mat-form-field>
                            <button mat-raised-button color="primary" matTooltip="Buscar"
                                (click)="buscarByCve(cve_orig.value, mymap)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-list-item>

                        <mat-list-item style="padding-left: 66px;">
                            <button mat-raised-button color="primary" matTooltip="Centrar en el predio Seleccionado"
                                (click)="buscarByClick(mymap)">
                                <mat-icon>center_focus_weak</mat-icon>
                            </button>
                        </mat-list-item>

                        <mat-list-item style="padding-left: 66px;">
                            <button mat-raised-button color="primary" matTooltip="Añadir un Marcador"
                                (click)='enableAddMarkerByClick(mymap)'>
                                <mat-icon>pin_drop</mat-icon>
                            </button>
                        </mat-list-item>


                        <mat-list-item>
                            <goo-box-search (coordinateChange)='addGooMarker($event, mymap)'></goo-box-search>
                        </mat-list-item>
                    </mat-list>



                </mat-expansion-panel>

                <!-- ---------------------------------------- FIN VECTOR------------------------------------------------>

                <!-- ---------------------------------------- MEASURE OPTIONS------------------------------------------------>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Measure options </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item style="padding-left: 6px;">
                            <mat-form-field>
                                <mat-label>Seleccionar</mat-label>
                                <mat-select id="type" #type (selectionChange)="optionInteractionChange($event, mymap)">
                                    <mat-option value="none">
                                        ...
                                    </mat-option>
                                    <mat-option #line value="line">
                                        Length (LineString)
                                    </mat-option>
                                    <mat-option #area value="area">
                                        Area (Polygon)
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item style="padding-left: 66px;">
                            <button mat-raised-button color="primary" matTooltip="Trazar">
                                <mat-icon>create</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <!-- ---------------------------------------- FIN MEASURE OPTIONS------------------------------------------------>
            </mat-tab>
            <mat-tab label="Información del predio">
                <br><br>
                <mat-list>
                    <mat-list-item style="padding-left: 6px;">
                        <mat-form-field>
                            <mat-label>CVA_CAT_ANT</mat-label>
                            <input matInput id="field1" [value]="modelProperty.cve_cat_ant" placeholder="Codigo">
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item style="padding-left: 6px;">
                        <mat-form-field>
                            <mat-label for="field2">CVA_CAT_ORI </mat-label>
                            <input matInput id="field2" [value]="modelProperty.cve_cat_ori" placeholder="Codigo">
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item style="padding-left: 6px;">
                        <mat-form-field>
                            <mat-label for="field3">STATUS</mat-label>
                            <input matInput id="field3" [value]="modelProperty.status" placeholder="Codigo">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item style="padding-left: 6px;">
                        <mat-form-field>
                            <mat-label for="field4">STRING_AREA</mat-label>
                            <input matInput id="field4" [value]="modelProperty.string_area" placeholder="Codigo">
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item style="padding-left: 6px;">
                        <mat-form-field>
                            <mat-label for="field5">TIPO_PREDIO</mat-label>
                            <input matInput id="field5" [value]="modelProperty.tipo_predio" placeholder="Codigo">
                        </mat-form-field>
                    </mat-list-item>


                    <mat-list-item style="padding-left: 6px;">
                        <mat-form-field>
                            <mat-label for="field6"> REGIMEN </mat-label>
                            <input matInput id="field6" [value]="modelProperty.regimen" placeholder="Codigo">
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Street View">
                <mat-list>
                    <mat-list-item>
                        <button mat-raised-button color="primary" (click)="openDialog()">Street View</button>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color: #3f51b5;" class="example-toolbar">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="example-app-name">Sistema Catastral</h1>
        </mat-toolbar>
        <app-map #mymap (propertySelected)="loadProperty($event)"></app-map>
    </mat-sidenav-content>
</mat-sidenav-container>