<mat-sidenav-container>
    <!-- mode: over,push,side -->


    <mat-sidenav #sidenav [(opened)]="opened" mode="side" (opened)="log('Opened')" (closed)="log('Closed')">
        <!--         <h2 style="margin-top: 14px;margin-left: 56px;font-family: Verdana, Geneva, Tahoma, sans-serif ;">Panel de control</h2> -->
        <mat-icon style="font-size: 36px;margin-top: 14px;margin-left: 130px;">settings</mat-icon>


        <mat-tab-group style="background-color: #494949;">
            <mat-tab label="Tools Map">
                <!-- ---------------------------------------- CAPA BASE------------------------------------------------>
                <mat-expansion-panel style="margin-top: 18px; ">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Layers base </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-radio-group style="display: block;padding-left: 88px;">
                        <mat-radio-button style="display: block;" checked class="OSM" value="OSM" (change)="handleVisibleBaseLayer(0)">OSM</mat-radio-button>
                        <mat-radio-button style="display: block;" id="Terrain" value="Terrain" (change)="handleVisibleBaseLayer(1)">Terrain</mat-radio-button>
                        <mat-radio-button style="display: block;" id="Stamen" value="Stamen" (change)="handleVisibleBaseLayer(2)">Stamen</mat-radio-button>
                    </mat-radio-group>
                </mat-expansion-panel>
                <!-- ---------------------------------------- FIN CAPA BASE------------------------------------------------>

                <!-- ---------------------------------------- LAYERS------------------------------------------------>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Layers </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>

                        <mat-list-item>
                            <input type="checkbox" id="basemap" name="basemap" checked value="Mapa Base" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                            <label for="basemap"> Mapa Base</label><br>
                        </mat-list-item>

                        <mat-list-item>
                            <input type="checkbox" id="zonacatastral" name="zonacatastral" checked value="Zona Catastral" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                            <label for="zonacatastral"> Zona Catastral</label><br>
                        </mat-list-item>

                        <mat-list-item>
                            <input type="checkbox" id="localidad" name="localidad" checked value="localidad" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                            <label for="localidad"> Localidad</label><br>
                        </mat-list-item>
                        <mat-list-item>
                            <input type="checkbox" id="sectores" name="sectores" checked value="Sectores" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                            <label for="sectores"> Sectores</label><br>
                        </mat-list-item>

                        <mat-list-item>
                            <input type="checkbox" id="asentamientos" name="asentamientos" checked value="Asentamientos" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                            <label for="asentamientos"> Asentamientos</label><br>
                        </mat-list-item>

                        <mat-list-item>
                            <input type="checkbox" id="Vialidad" name="Vialidad" checked value="Vialidad" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                            <label for="Vialidad"> Vialidad</label><br>
                        </mat-list-item>

                        <mat-list-item>
                            <input type="checkbox" id="Manzanas" name="Manzanas" checked value="Manzanas" (change)='handleCheckedOverlayLayers($event)'>
                            <label for="Manzanas"> Manzanas</label><br>
                        </mat-list-item>

                        <mat-list-item>
                            <input type="checkbox" id="Predios" name="Predios" checked value="Predios" (change)='handleCheckedOverlayLayers($event)'>
                            <label for="Predios">Predios</label><br>
                        </mat-list-item>


                        <mat-list-item>
                            <mat-checkbox id="Predios" name="Predios" value="Predios">Predios</mat-checkbox>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <!-- ---------------------------------------- FIN LAYERS------------------------------------------------>

                <!-- ---------------------------------------- VECTOR------------------------------------------------>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Vector </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item>
                            <input style="width: 208px;" id="fname" name="fname" #cta_orig>
                        </mat-list-item>

                        <mat-list-item style="padding-left: 66px;">
                            <button mat-raised-button color="primary" matTooltip="Buscar" (click)='handleClickEvent(cta_orig.value)'><mat-icon>search</mat-icon></button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <!-- ---------------------------------------- FIN VECTOR------------------------------------------------>

                <!-- ---------------------------------------- MEASURE OPTIONS------------------------------------------------>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Measure options </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item style="padding-left: 6px;">
                            <mat-form-field>
                                <mat-label>Seleccionar</mat-label>
                                <mat-select id="type" #type>
                                    <mat-option value="length">
                                        Length (LineString)
                                    </mat-option>
                                    <mat-option value="area">
                                        Area (Polygon)
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item style="padding-left: 66px;">
                            <button mat-raised-button color="primary" matTooltip="Trazar" (click)='handleClickMeasureButton(type.value)'><mat-icon>create</mat-icon></button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <!-- ---------------------------------------- FIN MEASURE OPTIONS------------------------------------------------>

                <!-- ---------------------------------------- TOOL OPTIONS------------------------------------------------>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Tool options </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item>
                            <button mat-raised-button color="primary" matTooltip="Siguiente movimiento" (click)='NextClickButton()'><mat-icon>skip_next</mat-icon></button>

                            <button style="margin-left: 17px" mat-raised-button color="primary" matTooltip="Anterior movimiento" (click)='BackClickButton()'><mat-icon>skip_previous</mat-icon></button>

                            <button style="margin-left: 17px" mat-raised-button color="primary" matTooltip="Descargar pdf" (click)="Printer()"><mat-icon>picture_as_pdf</mat-icon></button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <!-- ---------------------------------------- FIN TOOL OPTIONS------------------------------------------------>

            </mat-tab>
            <mat-tab label="Other Tools">
                <h1>Info del predio</h1>
                <!-- <button color="primary" mat-raised-button (click)="openDialog()">Open dialog</button> -->
                <label for="field1"> CVA_CAT_ANT  </label>
                <input id="field1" [value]="modelProperty.cve_cat_ant" > <br>

                <label for="field2"> CVA_CAT_ORI  </label>
                <input id="field2" [value]="modelProperty.cve_cat_ori" > <br>

                <label for="field3"> STATUS  </label>
                <input id="field3" [value]="modelProperty.status" > <br>

                <label for="field4"> STRING_AREA  </label>
                <input id="field4" [value]="modelProperty.string_area" > <br>

                <label for="field5"> TIPO_PREDIO  </label>
                <input id="field5" [value]="modelProperty.tipo_predio" > <br>

                <label for="field6"> REGIMEN  </label>
                <input id="field6" [value]="modelProperty.regimen" > <br>


                
            </mat-tab>
        </mat-tab-group>


    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar style="background-color: #3f51b5;" class="example-toolbar">
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">Sistema Catastral</h1>
        </mat-toolbar>


        <app-map #mymap (propertySelected)="loadProperty($event)" ></app-map>
    </mat-sidenav-content>







</mat-sidenav-container>